ion-content{
    --background:white;
}

@-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}

@-webkit-keyframes swirl-out-bck{0%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}100%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}}@keyframes swirl-out-bck{0%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}100%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}}

.container{
    img{
        height: 95%;
    }
    background-image:url('../assets/splash/tabla-didactica-splash.gif');
    background-size: cover;
    background-position: -15vw 0px;
}

.rotate-in-center{
    -webkit-animation:rotate-in-center 0.6s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-center 0.6s cubic-bezier(.25,.46,.45,.94) both;
}
.swirl-out-bck{
    -webkit-animation:swirl-out-bck .75s ease-in both;
    animation:swirl-out-bck .75s ease-in both
}