<ion-content [fullscreen]="true">
  <div *ngIf="!attemptingSingIn;else spinner" class="d-flex flex-column p-4" style="min-height: 100%;">
    <div class="row" style="margin-bottom: 5vh; margin-right:5vw">
      <div class="h1 heading mt-4 ion-text-end">
        Bienvenido 👋
      </div>
      <div class="para mr-5 ion-text-end">Ingresa para continuar</div>
    </div>
    <div class="row align-self-center">
      <div class="p-4 mb-4">
        <app-custom-buttons *ngIf="mockUsersButtons.length > 0"  [buttons]="mockUsersButtons" (buttonClicked)="loadLoginForm($event)" [classWrapper]="'feature-container-login'" [columns]="3"></app-custom-buttons>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="handleLogIn()">
        <ion-item class="mb-4" lines="full" >
          <ion-label position="floating" color="warning">Correo electrónico</ion-label>
          <ion-input  type="email" placeholder="nombre.apellido@dominio.com" formControlName="email" legacy="true"></ion-input>
          <ion-note *ngIf="loginForm.get('email')!.touched" slot="error">formato inválido de email</ion-note>
        </ion-item>
        <ion-item class="mb-5" lines="full">
          <ion-label position="floating" color="warning">Contraseña</ion-label>
          <ion-input [type]="hidePassword? 'password':'text'" placeholder="**********" formControlName="password" legacy="true"></ion-input>
          <ion-button size="default" slot="end" fill="clear" (click)="togglePasswordVisibility()" class="pt-3 icon-button">
            <ion-icon [name]="hidePassword ? 'eye-off-outline' : 'eye-outline' " color="light" class="iconEye"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="signup-text mb-3">
          ¿No tienes cuenta? &nbsp; 
          <a class="mat-subheading-2" routerLink="/register" routerLinkActive="active">
            <u class="font-weight-bold">Registrate</u>
          </a>
        </div>
        <div class="mt-5">
          <ion-button class="login-button mt-4 mb-3" strong="true" type="submit" expand="block" [disabled]="!loginForm.valid || invalidCredentials" color="medium">
            <h1>Ingresar</h1>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
  <ng-template #spinner>
    <app-spinner [optionalMessage]="'Ingresando'"></app-spinner>
  </ng-template>
</ion-content>
<!-- <ion-footer color="white">
  <ion-toolbar>
    <p class="copyright">Derechos reservados ⒸACoria 2023</p>
  </ion-toolbar>
</ion-footer> -->
  
  